/*
Colors used
Text Color: #1d1d1f;
Visited Link: #800080
*/
:root {
  --backgroundcolor: #2695a8;
  --buttoncolor: #296997;
  --font18: 300 18px "roboto", sans-serif;
  --font22: 300 22px "roboto", sans-serif;
  --font33: 33px "roboto", sans-serif;
  --hovercolor: #ffffff;
  --primarycolor: #ffffff;
  --secondarycolor: #1f1f1d;
  --textcolor: #ffffff;
  --translucentcolor: rgba(0, 0, 0, 0.3);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

header {
  color: var(--secondarycolor);
  font: 300 18px "Roboto", sans-serif;
}

body {
  background-attachment: fixed;
  background: var(--backgroundcolor);
  color: var(--textcolor);
  display: flex;
  flex-direction: column;
  font: 300 22px "Roboto", sans-serif;
  min-height: 100vh;
  position: relative;
}

footer {
  /* Make the footer full width */
  padding: 20px;
  align-items: center;
  bottom: 0;
  clear: both;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  position: auto;
  position: relative;
  text-align: center;
  width: 100%;
}

a {
  color: var(--textcolor);
  text-align: center;
}

h1 {
  font-size: var(--font33);
  text-align: center;
}

p {
  font-size: var(--font22);
  text-align: center;
}

/* Visited links */
a:visited {
  background-color: transparent;
}

/* Hover when the mouse goes on top of the link */
a:hover {
  color: var(--hovercolor);
  font-weight: bold;
}

/* Focus via keyboard navigation */
a:focus {
  background-color: transparent;
  color: var(--secondarycolor);
}

.page-header {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px 70px 10px;
  width: 100%;
  text-align: center;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  /* aligns items to the right */
  list-style-type: none;
  /* removes bullet points */
  padding: 0;
  /* removes padding */
  display: flex;
  justify-content: flex-end;
}

.navigation-list__item {
  /* Remove underline */
  font-weight: normal;
  /* Set normal font weight */
  margin-left: 20px;
  /* add space between items */
  text-decoration: none;
}

.navigation-list__item--active {
  /* Set bold font weight for active page */
  font-weight: bold;
}

.logo-text {
  /* Same font size as the navigation items */
  color: var(--textcolor);
  /* Use the same text color as the navigation items */
  font-weight: bolder;
  font-size: 18px;
}

.logo-text:hover {
  font-weight: bold;
  color: var(--hovercolor);
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .logo {
    max-width: 70%;
    /* Set the maximum width to 60% of its container on smaller screens */
  }
}

.bold-text {
  font-weight: bold;
}

#find-me {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  font: 300 18px "Roboto";
  justify-content: center;
  position: relative;
  text-align: center;
}

#copyright {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  font: 300 16px "Roboto";
  justify-content: center;
  position: relative;
  text-align: center;
}

.profile {
  margin: auto;
  max-width: 600px;
  padding: 20px;
  position: relative;
  text-align: justify;
}

@media (max-width: 414px) {
  .profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.profile__portrait {
  /* Add a transition for smooth animation */
  border-radius: 50%;
  float: right;
  height: auto;
  margin-right: 40px;
  transition: transform 0.5s;
  width: 233px;
}

.profile__portrait:hover {
  /* Increase the scale when hovering */
  transform: scale(1.05);
}

.profile__portrait:active {
  /* Restore the original scale when clicked */
  transform: scale(1);
}

@media (max-width: 414px) {
  .profile__portrait {
    width: 70vw;
    /* Adjust the margins as needed */
    border-radius: 50%;
    /* Adjust the width based on viewport width */
    height: auto;
    margin: 0 auto 20px;
    max-width: 233px;
    transition: transform 0.5s;
  }
}

.code {
  color: var(--secondarycolor);
  font-weight: bold;
}

.code--active {
  color: var(--secondarycolor);
}

.code:hover {
  color: var(--primarycolor);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}

.button,
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* styles the button */
  background-color: var(--buttoncolor);
  /* takes the font from the outer container */
  font-family: inherit;
  /* width of the border, type, color */
  border-bottom: 2px solid var(--translucentcolor);
  border-radius: 9px;
  color: var(--textcolor);
  display: block;
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  text-decoration: none;
  transition-duration: 0.9s;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.7;
  color: var(--textcolor);
  transform: scale(1.05);
  transition: transform 0.9s;
}

/* inline-block= start grid fallback, in old browser will be display at */
/* .grid__item {
  display: inline-block;
  width: 100%;
} */

/* end grid fallback, this will be display in older browsers that cannot display grid */

.grid__item {
  align-items: center;
  background-color: var(--backgroundcolor);
  border-radius: 10px;
  border: 2px solid var(--primarycolor);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.project-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.icons-socialmedia {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 10px;
}

.experience-table {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.experience-table div {
  border-radius: 10px;
  border: 1px solid var(--secondarycolor);
  border: 2px solid var(--primarycolor);
  justify-items: center;
  padding: 7px;
  text-align: center;
}

.experience-table .title {
  font-weight: bold;
  grid-column: 1 / -1;
  text-align: center;
}

.contact {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.contact-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-info h2 {
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.standard-label {
  margin-bottom: 5px;
}

input[type="email"],
input[type="tel"],
textarea {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

input[type="submit"] {
  padding: 5px 10px;
  width: auto;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }

  @media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }

    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }

    h1 {
      font-size: 22px;
    }
  }
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Media Query for iPhone 12 Pro */
@media screen and (max-width: 428px) {
  .navigation-list {
    justify-content: center;
    /* Add some padding for spacing */
    align-items: center;
    z-index: 999;
    /* Center the navigation items on smaller screens */
    position: relative;
    /* Fix the navigation at the top of the screen */
    top: 0;
    /* Make sure it stays on top of other elements */
    /* Use the provided background color */
    padding: none;
    background-color: var(--backgroundcolor);
    left: 0;
    width: 100%;
  }

  .navigation-list__item {
    /* Equalize the space on the left and right of each item */
    margin: 0 10px;
    text-align: center;
  }

  .logo-text {
    /* Hide the logo on smaller screens */
    display: none;
  }
}
